@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    overflow-x: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

nav {
    display: flex;
    height: 10vh;
    width: 100vw;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 10px 5px;
    color: black;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a:hover {
    font-weight: bolder;
    border-bottom: solid black 1.6px;
}